[Desktop Entry]
Type=Application
Name=Zalo
GenericName=Instant Messenger
Comment=Unofficial Zalo client for Linux
Exec=/usr/bin/zalo
Icon=zalo
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=zalo;chat;messaging;messenger;
StartupNotify=true
